{% include 'template/header.twig' %}

<div class="container">
    
    <div class="component-heading">
        <h2>We're here to set your business on fire. In a good way! Let's start.</h2>
    </div>

    <div class="component-columns">
        <div class="row">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <!-- <script>
                    hbspt.forms.create({
                        portalId: "9331232",
                        css: '',
                        formId: "8adfb704-c93b-4b58-837e-f19aaba3d509"
                    });
                </script> -->

                <div class="form-container">
                    <div class="thank-you">
                        <p>Thanks for reaching out! We'll get back to you as soon as we can</p>
                    </div>
                    <form action="" class="form form-hubspot" id="contact-form" data-portalId="9331232" data-formId="8adfb704-c93b-4b58-837e-f19aaba3d509">
                        <p>
                            <label for="firstname">My name is:*</label>
                            <input type="text" name="firstname" id="firstname" placeholder="Name" data-required required="required">
                            <span class="msg"></span>
                        </p>
                        <p>
                            <label for="projectType">I need help with:</label>
                            <select name="project_type" id="projectType" placeholder="Select project type">
                                <option style="color: #333" value="" selected="selected">Select project type</option>
                                <option style="color: #333" value="Website">Website</option>
                                <option style="color: #333" value="eCommerce">eCommerce</option>
                                <option style="color: #333" value="Not sure">Not sure</option>
                            </select>
                            <span class="msg"></span>
                        </p>
                        <p>
                            <label for="email">My email:*</label>
                            <input type="email" name="email" id="email" placeholder="Email address" data-required required="required">
                            <span class="msg"></span>
                        </p>
                        <p>
                            <label for="message">Additional description</label>
                            <textarea name="message" id="message" cols="30" rows="3" placeholder="Project details"></textarea>
                            <span class="msg"></span>
                        </p>
                        <p class="text-right">
                            <button class="btn btn-primary btn-large" type="submit">Send</button>
                        </p>
                    </form>
                </div>

            </div>
            <div class="col-12 col-md-6 order-1 order-md-2">
                <div class="media">
                    <svg xmlns="http://www.w3.org/2000/svg" width="567.332" height="554.826" viewBox="0 0 567.332 554.826"><g transform="translate(-668.5 -5590)"><g transform="translate(988.5 5590)"><g transform="translate(22.589 192.205)"><path d="M158.3,342.476l27.792-14.494v88.426L158.3,430.9Z" transform="translate(-130.505 -302.983)" fill="#fbdbaa" fill-rule="evenodd"/><path d="M161.829,342.476V430.9l-27.793-14.494V327.982Z" transform="translate(-134.036 -302.983)" fill="#fbdbaa" fill-rule="evenodd"/><path d="M186.09,329.317,158.3,343.811v-10.5l27.792-14.493Z" transform="translate(-130.505 -304.318)" fill="#fbdbaa" fill-rule="evenodd"/><path d="M189.621,320.655l-27.792,14.493-27.793-14.493,27.793-14.5Z" transform="translate(-134.036 -306.16)" fill="#fbdbaa" fill-rule="evenodd"/><path d="M161.829,343.811l-27.793-14.494v-10.5l27.793,14.493Z" transform="translate(-134.036 -304.318)" fill="#fbdbaa" fill-rule="evenodd"/></g><g transform="translate(37.916 257.516)"><path d="M283.313,406.1h.133v87.629l-53.854,27.925V434.03ZM175.737,493.733V405.97l53.723-28.056,10.772,5.719L251,389.216l-53.719,28.056v65.294Z" transform="translate(-143.294 -361.027)" fill="#19f" fill-rule="evenodd"/><path d="M179.859,495.879l-10.769-5.717-21.674-11.3V391.23l53.719-28.057,21.674,11.3,10.773,5.585-53.723,28.056ZM287.435,408.25l-53.722,27.925V523.8l-14.358-7.447-7.183-3.722L201.4,507.048V419.417l53.719-28.056,10.772,5.587Z" transform="translate(-147.416 -363.173)" fill="#0060ff" fill-rule="evenodd"/><path d="M179.859,511.5l-10.769-5.585-21.674-11.3V464.16l21.674,11.3,10.769,5.717ZM201.4,500.327V492.35l10.769,5.587,7.183,3.722,14.358,7.447v30.451l-21.541-11.172L201.4,522.8Z" transform="translate(-147.416 -348.475)" fill="#3c3c3c" fill-rule="evenodd"/><path d="M229.591,508.362l53.854-27.925v30.451l-53.854,27.925Zm-32.31-8.778-21.544,11.171V480.437l21.544-11.168v30.315Z" transform="translate(-143.294 -347.731)" fill="#595959" fill-rule="evenodd"/></g><g transform="translate(37.813 197.163)"><path d="M222.666,444.993l53.877-27.944v41.113l-53.877,27.944Z" transform="translate(-136.361 -294.978)" fill="#19f" fill-rule="evenodd"/><path d="M147.326,402.191l86.306,44.964v41.113L147.326,443.3Z" transform="translate(-147.326 -297.141)" fill="#0060ff" fill-rule="evenodd"/><path d="M233.632,456.937l-86.306-44.964V334.981l86.306,44.965Z" transform="translate(-147.326 -306.923)" fill="#e81e00" fill-rule="evenodd"/><path d="M287.509,432.558,233.632,460.5V383.511l-86.306-44.965,53.763-28.059L287.4,355.566h.113Z" transform="translate(-147.326 -310.488)" fill="#e76652" fill-rule="evenodd"/></g><path d="M163.674,324.028l-10.237-76.461V215.922L239.2,171.108,355.956,288.124,342.79,387.058,313.005,398.1Z" transform="translate(-108.624 -133.611)" fill="#ff592c" fill-rule="evenodd"/><g transform="translate(135.445 246.138)"><path d="M256.881,477.945V389.672l27.7-14.5v88.433Z" transform="translate(-229.013 -350.047)" fill="#dcb373" fill-rule="evenodd"/><path d="M260.422,389.672v88.273l-27.868-14.336V375.176Z" transform="translate(-232.554 -350.047)" fill="#fbdbaa" fill-rule="evenodd"/><path d="M260.422,391.023l-27.868-14.5V365.9l27.868,14.5Z" transform="translate(-232.554 -351.398)" fill="#e04e3d" fill-rule="evenodd"/><path d="M284.585,376.526l-27.7,14.5v-10.63l27.7-14.5Z" transform="translate(-229.013 -351.398)" fill="#e76652" fill-rule="evenodd"/><path d="M288.126,367.737l-27.7,14.5-27.868-14.5,27.868-14.5Z" transform="translate(-232.554 -353.24)" fill="#eb7d72" fill-rule="evenodd"/></g><path d="M154.609,309.543l-25.4-9.172-14.894-61.833,11.7-50.133,28.592,12.766Z" transform="translate(-114.317 -131.094)" fill="#251205" fill-rule="evenodd"/><g transform="translate(23.684 28.046)"><path d="M134.992,201.977l100.526,52.39V395.985L179.67,376.438l-44.677-32.843V201.977Z" transform="translate(-134.992 -157.164)" fill="#fbdbaa" fill-rule="evenodd"/><path d="M222.746,253.387l85.9-44.679V350.326L222.746,395V253.387Z" transform="translate(-122.22 -156.185)" fill="#dcb373" fill-rule="evenodd"/><path d="M235.518,260.06,134.992,207.67l85.768-44.812,100.659,52.523Z" transform="translate(-134.992 -162.858)" fill="#ebbe58" fill-rule="evenodd"/></g><g transform="translate(11.436 0)"><path d="M257.008,358.224q-79.12-59.706-120.476-128.588H124.3V183.762l41.619,21.675,75.267,39.36Z" transform="translate(-124.301 -131.77)" fill="#e81e00" fill-rule="evenodd"/><path d="M124.3,190.368l99.73-51.992,117.015,61.036L241.187,251.4l-75.267-39.36Z" transform="translate(-124.301 -138.376)" fill="#ff592c" fill-rule="evenodd"/><path d="M226.336,243.648,326.2,191.656l19.15,93.477L242.158,357.075Z" transform="translate(-109.45 -130.621)" fill="#e81e00" fill-rule="evenodd"/></g><path d="M176.526,334.581l-7.249-6.443,1.611-2.739,5.638,5.638,9.344-1.934-1.935,4.833Z" transform="translate(-106.318 -111.155)" fill="#773911" fill-rule="evenodd"/><path d="M165.567,278.093v14.25l-15.972-8.318V269.774Z" transform="translate(-109.183 -119.251)" fill="#fff" fill-rule="evenodd"/><path d="M163.252,297.61,147.3,289.232l.132-3.324,15.957,8.378Z" transform="translate(-109.517 -116.903)" fill="#da952e" fill-rule="evenodd"/><path d="M170.493,270.886q-11.057-10.559-23.92-12.536l.23-4.945q13.874-.368,23.863,12.536Z" transform="translate(-109.623 -121.635)" fill="#251205" fill-rule="evenodd"/><path d="M149.874,273.971l6.632,3.569-.17,6.8-6.632-3.4Z" transform="translate(-109.167 -118.64)" fill-rule="evenodd"/><g transform="translate(134.262 329.751)"><path d="M256.933,441.391l29.1-15.16v8.182l-29.1,15.162Z" transform="translate(-227.822 -426.23)" fill="#6a5151" fill-rule="evenodd"/><path d="M260.632,449.574l-29.111-15.162V426.23l29.111,15.16Z" transform="translate(-231.521 -426.23)" fill="#433434" fill-rule="evenodd"/></g></g><g transform="translate(668.5 5696.229)"><g transform="translate(154.775 177.809)"><path d="M420.252,455.64,390.9,440.33v17.556l29.354,15.31Z" transform="translate(-390.897 -338.082)" fill="#e6ab28" fill-rule="evenodd"/><path d="M392.5,440.33l-29.355,15.31V473.2l29.355-15.31Z" transform="translate(-333.79 -338.082)" fill="#ae7349" fill-rule="evenodd"/><path d="M420.252,373.444,390.9,358.135v86.938l29.354,15.31Z" transform="translate(-390.897 -342.825)" fill="#e76652" fill-rule="evenodd"/><path d="M363.145,358.97,392.5,374.279l29.355-15.309L392.5,343.66Z" transform="translate(-363.145 -343.66)" fill="#eb7d72" fill-rule="evenodd"/><path d="M392.5,358.135l-29.355,15.309v86.939l29.355-15.31Z" transform="translate(-333.79 -342.825)" fill="#737373" fill-rule="evenodd"/></g><g transform="translate(49.298 246.769)"><path d="M410.955,455.5h-.14v92.557l56.881,29.5V484.993ZM524.58,548.055v-92.7l-56.743-29.634-11.377,6.037-11.376,5.9L501.825,467.3v68.961Z" transform="translate(-410.815 -407.885)" fill="#ffb52b" fill-rule="evenodd"/><path d="M492.04,549.028l11.376-6.04L526.31,531.05V438.5l-56.742-29.638-22.9,11.939L435.3,426.7l56.743,29.634ZM378.415,456.472l56.742,29.494v92.558l15.168-7.865,7.585-3.934,11.377-5.9V468.269l-56.741-29.634-11.378,5.9Z" transform="translate(-378.275 -408.858)" fill="#eb9900" fill-rule="evenodd"/><path d="M435.3,574.386l11.376-5.9,22.894-11.938V524.384l-22.894,11.937L435.3,542.362Zm-22.754-11.8v-8.427l-11.377,5.9-7.585,3.934-15.168,7.865v32.164l22.752-11.8,11.377-5.9Z" transform="translate(-321.534 -402.192)" fill="#3c3c3c" fill-rule="evenodd"/><path d="M467.7,571.52l-56.881-29.5v32.164l56.881,29.5Zm34.129-9.27,22.754,11.8V542.025l-22.754-11.8V562.25Z" transform="translate(-410.815 -401.854)" fill="#595959" fill-rule="evenodd"/></g><g transform="translate(49.298 183.147)"><path d="M378.415,396.32l56.742,29.494,91.153-47.473-56.742-29.634Z" transform="translate(-378.276 -348.707)" fill="#f9ea7e" fill-rule="evenodd"/><path d="M521.476,500.1,464.595,470.6V514L521.476,543.5Z" transform="translate(-464.595 -341.673)" fill="#ffb52b" fill-rule="evenodd"/><path d="M378.415,544.479l91.153-47.471v-43.4L378.415,501.08Z" transform="translate(-321.533 -342.654)" fill="#eb9900" fill-rule="evenodd"/><path d="M464.595,475.041l56.882,29.495V423.216l-56.742-29.494h-.139Z" transform="translate(-464.595 -346.109)" fill="#c4c4c4" fill-rule="evenodd"/><path d="M378.415,424.2v81.319l91.153-47.471V376.725Z" transform="translate(-321.533 -347.09)" fill="#919191" fill-rule="evenodd"/></g><g transform="translate(35.532 234.831)"><path d="M532.989,527.108V509.551l-29.354-15.309V511.8Z" transform="translate(-503.635 -391.993)" fill="#995e3a" fill-rule="evenodd"/><path d="M505.236,494.242l-29.356,15.309v17.557l29.356-15.31Z" transform="translate(-446.526 -391.993)" fill="#ae7349" fill-rule="evenodd"/><path d="M505.235,428.191l29.356-15.31-29.356-15.31-29.354,15.31Z" transform="translate(-475.881 -397.571)" fill="#fff" fill-rule="evenodd"/><path d="M532.989,427.356l-29.354-15.31v86.939l29.354,15.309Z" transform="translate(-503.635 -396.736)" fill="#c4c4c4" fill-rule="evenodd"/><path d="M475.881,514.294l29.356-15.309V412.046l-29.356,15.31Z" transform="translate(-446.526 -396.736)" fill="#919191" fill-rule="evenodd"/></g><g transform="translate(15.449 8.004)"><path d="M470.388,227.871l-106.18,55.338V432.787l106.18-55.337V227.871Z" transform="translate(-273.478 -180.537)" fill="#ae7349" fill-rule="evenodd"/><path d="M516.211,260.935l-51.616,65.1v57.653l90.73,47.193V281.3Z" transform="translate(-464.595 -178.629)" fill="#995e3a" fill-rule="evenodd"/><path d="M561.118,230.453l-90.59-47.333L364.208,238.6l51.616,26.828,39.115,20.365Z" transform="translate(-364.208 -183.12)" fill="#ebbe58" fill-rule="evenodd"/><path d="M553.191,262.4l-51.616-26.828V327.5Z" transform="translate(-501.575 -180.093)" fill="#3f2a25" fill-rule="evenodd"/></g><g transform="translate(166.445 96.002)"><path d="M367.87,300.14l43.284-22.551-21.945-11.272-42.881,22.546Z" transform="translate(-346.328 -266.316)" fill="#e88f51" fill-rule="evenodd"/><path d="M387.251,287.633v51.138l21.541,11.074V298.91Z" transform="translate(-387.251 -265.086)" fill="#773911" fill-rule="evenodd"/><path d="M389.613,276.974l-43.284,22.551V350.46l43.284-22.549Z" transform="translate(-324.787 -265.701)" fill="#c9611d" fill-rule="evenodd"/></g><path d="M352.238,340.486l31.8-16.566v-37.1l-31.8,16.563Z" transform="translate(-159.023 -169.131)" fill="#352606" fill-rule="evenodd"/><g transform="translate(106.474 128.725)"><path d="M424.569,331.081l43.284-22.552-21.945-11.275L403.027,319.8Z" transform="translate(-403.027 -297.254)" fill="#e88f51" fill-rule="evenodd"/><path d="M465.492,329.851,443.95,318.573v51.138l21.541,11.071Z" transform="translate(-443.95 -296.024)" fill="#773911" fill-rule="evenodd"/><path d="M403.027,381.4l43.284-22.546V307.914l-43.284,22.552Z" transform="translate(-381.486 -296.639)" fill="#c9611d" fill-rule="evenodd"/></g><path d="M408.673,369.963l31.8-16.563V316.3l-31.8,16.566Z" transform="translate(-275.149 -167.43)" fill="#352606" fill-rule="evenodd"/><path d="M497.709,335.968l-42.277-22.053V321.5l20.787,10.816,21.49,11.094Z" transform="translate(-381.838 -167.568)" fill="#e88f51" fill-rule="evenodd"/><path d="M499.3,337.163l-42.275-22.052V322.7l20.787,10.814,21.488,11.1Z" transform="translate(-385.117 -167.499)" fill="#773911" fill-rule="evenodd"/><path d="M444.53,388.894l-7.941-4.145-.028,4.548,7.969,4.148,8.238,4.251v-4.468l-8.238-4.307Z" transform="translate(-316.938 -163.48)" fill="#773911" fill-rule="evenodd"/><g transform="translate(0 0)"><path d="M515.6,238.475l30.759-8.148L441.589,175.552l-30.62,8.146Zm-165.872-22.9,104.636,54.775,30.616-8.076L380.35,207.5Z" transform="translate(-318.695 -175.552)" fill="#3e2924" fill-rule="evenodd"/><path d="M409.852,215.135l-31.038,24.156,104.915,54.5,30.759-23.877Zm165.872,22.9L471.088,183.254,440.47,207.06,545.1,261.835Z" transform="translate(-378.814 -175.108)" fill="#745854" fill-rule="evenodd"/></g></g></g></svg>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="component-heading">
        <h2>If you prefer, send us an email or give us a call</h2>
    </div>

    <div class="component-columns">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="media">
                    <img src="http://wp-igniterate.localhost/wp-content/uploads/2021/05/pug.jpg" width="565" height="753" alt="pug">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="text contact-address">
                    <p>
                        <span class="h3">+1 919-473-9560</span><br/>
                        Feel free to give us a call<br/>
                        <br/>
                        <span class="h3"><a href="mailto:info@igniterate.com">info@igniterate.com</a></span><br/>
                        Or drop a message<br/>
                        <br/>
                        <span class="h3">Head Office</span><br/>
                        600 Park Offices Dr<br/>
                        Suite 300-137<br/>
                        Research Triangle, NC 27709
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'template/footer.twig' %}