        </div> <!-- / #site-content -->
        <div id="site-footer">
            <div class="container">
                <p class="copyrights"><span class="text-left">&copy; Igniterate {{ now|date('Y')}}</span><span class="text-right" style="float:right"><a href="/privacy-policy">Privacy Policy</a></span></p>
            </div>
        </div>
    </div>
    <script src="{{theme_url}}/assets/script.js"></script>
</body>
</html>